/node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

*.tsbuildinfo

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage
*.lcov
.nyc_output

.env
.env.*
!.env.example

/data/

.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db